<div id="body">
    <img id="imagen" src="assets/img/nosotros.jpg" alt="Imagen de cabecera">
    <br>
    <div class="content">
        <h1>Historia de nuestra Tienda Online de Videojuegos</h1>
    
        <p>Explora el apasionante universo de nuestra tienda online de videojuegos, donde cada clic es un viaje a mundos llenos de emoción y aventura. 
        Desde nuestros modestos inicios, hemos evolucionado para convertirnos en un destino digital vibrante y acogedor para jugadores de todas las edades.</p>
    
        <p>En el corazón de nuestra historia se encuentra la pasión por los videojuegos y la dedicación a proporcionar una experiencia de compra única. Desde 
        clásicos atemporales hasta los últimos lanzamientos, ofrecemos una cuidadosa selección de títulos que abarcan géneros y plataformas, asegurando que
        todos los jugadores encuentren algo que los transporte a nuevas dimensiones de entretenimiento.</p>
    
        <p>Nuestra tienda online no es solo un lugar para adquirir videojuegos, sino un espacio donde la comunidad de jugadores se une. A través de eventos en 
        línea, competiciones, y reseñas compartidas, fomentamos la conexión entre jugadores apasionados que comparten la misma fascinación por el vasto mundo 
        de los videojuegos.</p>
    
        <p>Nos enorgullece ofrecer un servicio de atención al cliente excepcional y una plataforma segura para realizar compras en línea. Cada pedido es una puerta 
        abierta a incontables horas de diversión y descubrimientos. En nuestra tienda, no solo vendemos juegos, sino también momentos inolvidables que perduran en 
        la memoria de nuestros clientes.</p>
    
        <p>A medida que continuamos nuestra travesía, nuestro compromiso sigue siendo proporcionar acceso a lo mejor del mundo de los videojuegos, ofreciendo una
        experiencia de compra intuitiva y emocionante. ¡Únete a nosotros y forma parte de la historia en evolución de nuestra tienda online de videojuegos!</p>
    </div>
</div>