.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }

  h1 {
    color: #3498db;
    margin-left: 13%;
  }

  p {
    text-align: justify;
    line-height: 1.6;
  }

  #imagen {
    width: 55%;
    margin-left: 22%;
  }

  .content {
    width: 55%;
    margin-left: 22%;
}